---
---
// bootstrap
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
// google fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// fonts
$font-size: 1.3em;
$font-size-subheader: 1.8em;
$font-size-header: 3.2em;
$font-size-jumbo: 4em;

$font-family: 'Raleway', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
$font-weight-regular: 400;
$font-weight-heavy: 600;

// colors
$background-color: #ffffff;
$background-color-dark: #0e171c;
$font-color: #000000;
$font-color-dark: #ffffff;
$font-accent-color: #0070c0;
$font-accent-color-dark: #039cfd;

// markdown injectable formatting
.accent-color { // usage: {: .accent-color}
  color: $font-accent-color;
}

html,
body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 125rem;
  margin: auto;
  padding: 7rem 10rem; // top-bottom left-right

  background-color: $background-color;
  font-family: $font-family;
  font-weight: $font-weight-regular;
  font-size: $font-size;
}

main {
  flex-grow: 1 0 auto;

  .intro {
    padding: 7.5em 1rem;

    .intro-title {
      color: $font-accent-color;
      font-size: $font-size-jumbo;
    }

    .intro-content {
      font-family: $font-family-secondary;
      font-size: $font-size;
    }
  }

  .section {
    padding-bottom: 4rem;

    .section-title {
      padding: 1rem;

      font-size: $font-size-header;
      font-family: $font-family;
      font-weight: $font-weight-heavy;
    }

    .section-content {
      padding: 1rem;
      padding-bottom: 2rem;

      // markdown overrides
      h2 {
        font-size: $font-size-subheader;
      }

      h3 {
        font-size: $font-size;
      }

      h4 {
        font-size: $font-size;
        font-family: $font-family-secondary;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 0.4em;
        margin-bottom: 0.4em;
      }

      p,
      .content {
        font-size: $font-size;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
      }

      ul,
      ol {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        padding: 0;
      }

      li {
        font-size: $font-size;
        margin-bottom: 0.2em;
      }

      img {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        max-width: 100%;
        max-height: 100%;
      }

      table {
        table-layout: fixed;
        width: 100%;
      }

      td, th {
        font-size: $font-size;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        padding: 0.4em 0;
      }
    }
  }
}

footer {
  flex-shrink: none;
  text-align: right;
}
