---
---
// bootstrap
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
// google fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// social media buttons
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/***** FONTS *****/
$font-size-base: 1.6rem;
$font-size-jumbo: 4.2rem;
$icon-size: 4.2rem;
$icon-width: 4.2rem;

$font-family: 'Raleway', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;

/***** COLORS *****/
$background-color: #ffffff;
$background-color-dark: #0e171c;
$font-color: #000000;
$font-color-dark: #ffffff;
$font-accent-color: #0070c0;
$font-accent-color-dark: #039cfd;

/***** MARKDOWN INJECTABLE CLASSES *****/
.accent-color { // usage: {: .accent-color}
  color: $font-accent-color;
}

.jumbo-font { // usage: {: .jumbo-font}
  font-size: $font-size-jumbo;
}

.secondary-font { // usage: {: .secondary-font}
  font-family: $font-family-secondary;
}

/***** MARKDOWN STYLE OVERRIDES *****/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  line-height: 1.2em;

  a {
    color: inherit;
  }
}

p {
  font-size: $font-size-base;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

ul,
ol {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding: 0;
}

li {
  font-size: $font-size-base;
  margin-bottom: 0.2em;
}

img {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  width: 32rem;
  max-width: 100%;
  max-height: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
}

td,
th {
  font-size: $font-size-base;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding: 0.4em 0;
}

/***** PAGE STYLING *****/
html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  margin: auto;
  padding: 7rem 10rem; // top-bottom left-right

  background-color: $background-color;
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size-base;
}

.nav-bar {
  text-align: right;

  .nav-item {
    color: inherit;
    font-weight: bold;
    margin: 0.4rem;
  }

  .nav-item:hover {
    color: $font-accent-color;
    text-decoration: none;
  }
}

main {
  flex-grow: 1 0 auto;

  .intro {
    padding: 10em 1rem;
  }

  .section {
    padding-bottom: 4rem;

    .section-title {
      padding: 1rem;
    }

    .section-content {
      padding: 1rem;
      padding-bottom: 2rem;
    }
  }
}

footer {
  flex-shrink: none;
  text-align: right;
}

.fa {
  color: inherit;
  margin: 0.6em;
  margin-left: 0;
  font-size: $icon-size;
  width: $icon-width;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  color: $font-accent-color;
  text-decoration: none;
}

/***** DARK MODE *****/
.dark-mode {
  background-color: $background-color-dark;
  color: $font-color-dark;

  .accent-color {
    color: $font-accent-color-dark;
  }

  .fa:hover {
    color: $font-accent-color-dark;
  }

  .nav-item:hover {
    color: $font-accent-color-dark;
  }
}

/***** TODO: PAGE STYLEING (MOBILE) *****/
// @include media-breakpoint-up(xs) {  }
