---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    <!-- navbar -->

    <main class="container" aria-label="Content">
      <!-- intro -->
      <div class="row">
        <div class="intro col-sm-6" aria-label="Intro">
          <div class="intro-title">{{ site.intro_title }}</div>
          <div class="intro-content">
            {{ site.intro_content | strip | markdownify }}
          </div>
        </div>
      </div>

      <!-- body -->
      {% for section in site.sections %}
      <div class="section row">
        <div class="section-title col-sm-6">{{ section.title }}</div>
        <div class="section-content col-sm-6">{{ section.content | markdownify }}</div>
      </div>
      {% endfor %}
    </main>

    <!-- footer -->
    <footer class="container" aria-label="Footer">
      &copy; simple-resume
    </footer>

  </body>

</html>