---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    <!-- TODO: navbar -->

    <main class="container-fluid">
      <!-- intro -->
      <div class="row">
        <div class="intro col-sm-8" aria-label="Intro">
          <div class="intro-title">{{ site.intro_title | markdownify }}</div>
          <div class="intro-content">{{ site.intro_content | markdownify }}</div>
        </div>
      </div>

      <!-- body -->
      {% for section in site.sections %}
      <div class="section row" aria-label="Sections">
        <div class="section-title col-sm-5">{{ section.title | markdownify }}</div>
        <div class="section-content col-sm-7">{{ section.content | markdownify }}</div>
      </div>
      {% endfor %}
    </main>

    <!-- footer -->
    <footer class="row" aria-label="Footer">
      &copy; simple-resume
    </footer>

  </body>
  <script>
    // dark mode
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      document.body.classList.add("dark-mode");
    }
    // usage: <button onclick="toggleDarkMode()"></button>
    function toggleDarkMode() {
      document.body.classList.toggle("dark-mode");
    }
  </script>

</html>